<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Dest:</b>
  <%= @task.dest %>
</p>

<p>
  <b>Tag:</b>
  <%= @task.tag %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
